.about__container {
    column-gap: 4rem;
    display: flex;
}

.about__img {
    width: 21.875rem;
    border-radius: 1.5rem;
    margin-left: 10rem;
    margin-bottom: var(--mb-2);
    margin-right: auto;
}

.about__info {
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about__subtitle {
    font-size: var(--tiny-font-size);
}

.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}

.about__button {
    cursor: pointer;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .about__img {
        width: 18.75rem;
        margin-left: auto;
        margin-bottom: var(--mb-2);
        text-align: center;
    }

    .about__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about__grid {
        display: grid;
        gap: 1.0rem;
    }

    .about__box {
        padding: 0.75rem 0.5rem;
    }
    .about__data {
        text-align: center;
    }
    .about__info {
        justify-content: center;
    }
    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
  }

  @media screen and (max-width: 768px) {
  }
  
  /* For medium devices */
  @media screen and (max-width: 576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        padding: 0;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .about__info {
        grid-template-columns: repeat(2, 1fr);
    }
  }